<% provide(:title, "2017") %>
<h1>Search for industry</h1>
<%= form_tag("/search/industry", :method => "get") do %>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<h2>Search result</h2>
<div id="row">
<div class="col-lg-4 col-xl-4 col-md-4"></div>
<div class="fortune-list col-lg-4 col-xl-4 col-md-4 sm-12 xs-12">
<ul>
<% if !@industries.empty? %>
<% @industries.sort.each do |i| %>
<li><%= link_to "#{i.name}", "/industry/#{i.id}" %></li>
<% end %>
</ul>
<% else %>
<div class="alert alert-warning">
No results found
</div>
<% end %>
</div>
<div class="col-lg-4 col-xl-4 col-md-4"></div>
</div>
