<% provide(:title, "2017") %>
<h1>Search for state</h1>
<%= form_tag("/search/state", :method => "get") do %>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<h2>Search result</h2>
<div id="row">
<div class="col-lg-4 col-xl-4 col-md-4"></div>
<div class="fortune-list col-lg-4 col-xl-4 col-md-4 sm-12 xs-12">
<% if !@states.empty? %>
<ul>
<% @states.sort.each do |s| %>
<li><%= link_to "#{s.name}", "/states/#{s.id}" %></li>
<% end %>
</ul>
<% else %>
<div class="alert alert-warning">
No results found
</div>
<% end %>
</div>
<div class="col-lg-4 col-xl-4 col-md-4"></div>
</div>
