<h1>Fortune-500 Industries 2017</h1>
<div id="row">
<div class="col-lg-4 col-xl-4 col-md-4"></div>
<div class="fortune-list col-lg-4 col-xl-4 col-md-4 sm-12 xs-12">
<ul>
<% @industries.each do |i| %>
<li><%= link_to i.name, "/industry/#{i.id}" %></li>
<% end %>
</ul>
<%= will_paginate @industries %>
</div>
<div class="col-lg-4 col-xl-4 col-md-4"></div>
</div>
