<% provide(:title, "Sectors") %>
<h1>Fortune-500 Sectorts 2017</h1>
<h3>Number of companies by sector</h3>
<%= bar_chart Company.group(:sector_id).count, xtitle: "Number of Companies", ytitle: "Sector ID" %>
<div id="row">
<div class="col-lg-4 col-xl-4 col-md-4"></div>
<div class="fortune-list col-lg-4 col-xl-4 col-md-4 sm-12 xs-12">
<table class="sectors">
<tr><th>ID</th><th>Name</th></tr>
<% @sectors.each do |s| %>
<tr><td><%= s.id %>. </td><td><%= link_to s.name, "/sector/#{s.id}" %></td></tr>
<% end %>
</table>
<%= will_paginate @sectors %>
</div>
<div class="col-lg-4 col-xl-4 col-md-4"></div>
</div>
